{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/login.css") }}">
{% endblock %}

{% block main %}

<div class="form-container container">
    <div class="row justify-content-center">
        <img class="chef-logo" src="{{ asset("images/kebab_chef.png") }}">
    </div>
    <div class="error-message-container">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </div>
    <form method="post">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <button id="login-button" class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>
        <p>Pas encore de compte ? <a href="signup">S'inscrire</a></p>
    </form>
</div>

{% endblock %}
